/* tablet and scroll style*/
.App {
  overflow: auto;
  overflow-y: hidden;
  width: 1024px;
  height: 720px;
}
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*class*/
.text-center {
  text-align: center;
}

/*menu footer*/
.menu-footer {
  width: 100%;
  height: 5rem;
  color: #fff;
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: auto;
  background-color: #ec5656;
}
.menu-footer .menu-btn {
  width: 7rem;
  height: 7rem;
  bottom: 0;
  background-color:#ec5656;
  border-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
}
.menu-footer .menu-btn .btn-icon {
  font-size: 60px;
  font-style: bold;
  color: #fff;
  font-family: 'Atma', cursive;
}

/*modal style*/ 
.modal-overlay {
  position: fixed;
  width: 1024px;
  height: 768px;
  margin: auto;
  background: rgba(0,0,0,.4);
  display: none;
}
.modal-state:checked + .modal-overlay {
  opacity: 1;
  animation: fade-in .4s;
  display: block;
}
.modal {
  position: relative;
  margin: auto;
  width: 820px;
  height: 600px;
  /* overflow: auto; */
  padding: 40px 20px;
  background: #fff;
  text-align: left;
  align-content: space-between;
  box-shadow: 0px 0px 38px rgba(0, 0, 0, 0.05);
}
.modal-state:checked + .modal-overlay .modal {
  margin-top: 50px;
  animation: scoot-up .2s;
  animation-timing-function: ease-out;
  transform-origin: 50% 0px;
}
.modal-overlay-close {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.modal-state {
  display: none;
}

/*header modal*/
.modal-header{
  width: 800px;
  position: absolute;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.modal-header .search-input {
  width: 100%;
  font-size: 28px;
  padding: 0.2rem 1rem;
  background: url(./search.png) no-repeat scroll 1rem 1rem;
  padding-left:0;
  border: 1px solid rgb(211, 211, 211);
}
.modal-header .search-img {
  width: 3rem;
  height: 3rem;
  float: right;
  position: absolute;
  /* display: block; */
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  padding-right: 0.2rem;
  z-index: 1;
}

/* body modal */
.modal-body {
  width: 100%;
  height: 550px;
  color: black;
  margin-top: 5rem;
  overflow: auto;
  position: relative;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  display: flex;
  row-gap: 20px;
}
.modal-body .card {
  background-color: #f3f4f7;
  width: 95%;
  margin: auto;
  height: fit-content;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
}
.modal-body .card:hover{
  box-shadow: 2px 5px 10px #aeaeae;
}
.modal .modal-body .card-add{
  display: none;
  font-size: 20px;
  margin: right;
  justify-self: end;
  position: absolute;
  right: 1rem;
  align-self: flex-start;
}
.modal .modal-body .card:hover .card-add {
  display: block;
}
.modal .modal-body .happiness img{
  width: 3rem;
  padding: 0.2rem;
}
.modal-body .card-add button {
  /* position: relative; */
  font-size: 28px;
  float: inline-end;
  color: #dc7777;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}
.modal-body .card-pic img {
  width: 75%;
}
.modal-body .card .card-details {
  margin-left: -2rem;
}
.body-footer {
  text-align: center;
}

/* my card body */
.card {
  position: relative;
}
.cardlist {
  width: 1024px;
  height: 786px;
  overflow: auto;
}
.card-area {
  overflow: auto;
  width: 100%;
  height: 90%;
}
.card-body {
  margin: auto;
  color: black;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 500px 500px;
  row-gap: 20px;
  justify-content: center;
}
.card-body .card {
  background-color: #f3f4f7;
  width: 90%;
  height: 90%;
  padding: 1rem 1rem;
  border-radius: 0.2rem;
  display: flex;
  justify-content: flex-start;
}
.card-body .card:hover {
  box-shadow: 2px 5px 10px #aeaeae;
}
.card-body .card-remove{
  display: none;
  font-size: 20px;
  margin: right;
  justify-self: end;
  position: absolute;
  right: 1rem;
}
.card-body .card:hover .card-remove {
  display: block;
}
.card-body .card-remove button {
  font-size: 28px;
  color: #eb4d4b;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}
.card-body .card-pic img{
  width: 100%;
}
.card-area .card-body .happiness img{
  width: 2.5rem;
  padding: 0.1rem;
}
.grid-container{
  display: grid;
}
.card-remove {
  margin-right: 0;
  position: relative;
}
.card-body .card .card-details {
  padding-left: 1.2rem;
}

/*table style*/
table tr td {
  font-size: 20px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/*progress bar*/
.progress_bar {
  height: 1.7rem;
  background-color: #e4e4e4;
  border-radius: 30px;
  box-shadow: inset 0 1px 3px #d4d4d4;
}
.modal .modal-body .progress_bar {
  width: 350px;
}
.card-body .progress_bar {
  width: 200px;
}
